<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <div id="content">{{  tittle  }}</div>
        <div id="content">
        	<form action="" method="post">
        		<input type="text" name="name">
        		<input type="pass" name="pass">
                <input type="text" name="name">
                <input type="pass" name="pass">
                <input type="text" name="name">
                <input type="pass" name="pass">
        		<input type="submit" name="submit">
        	</form>
        </div>
        <div id="footer">
        </div>
    </body>
</html>